.table tbody tr th {
    min-width: 300px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}



@media (max-width: 768px) {
    .table tbody tr th {
        min-width: 180px;
        width: 100%;
        display: block;

    }
}