#header {
    display: flex;
    border-bottom: 2px solid #000;
    width: 100%;
    height: 120.1px;
    align-items: flex-start;
}

#header-left,
#header-right {
    flex: 1;
}

#header-left {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 43.3px;
}

#header-left img {
    width: 199.1px;
    height: 60.1;
}