#form {
  display: flex;
  padding: 18px 19px;
  flex-direction: column;
  align-items: flex-start;
  gap: 38px;
  flex: 1 0 0;
}

#task-detail-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 379px; 
}

/* Opgaver - rolldown (select / region)   */
.task-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;   
}

.form-label {
  color: var(--color-tertiary-black);
}

/* Name - input */

.form-input {
  color: var(--color-text);
}

/* Types - radiobutton  */

.form-radio {
  accent-color: var(--color-secondary);
}

#radio-options {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 30px;
  align-self: stretch;
  flex-wrap: wrap;
}

/* Status - buttons   */


.button-primary:hover {
  filter: brightness(1.05);
}

.button-secondary {
  background-color: var(--color-tertiary-black) !important;
}

.button-secondary:hover {
  filter: brightness(1.05);
}

.button-tertiary:hover,
.button-tertiary:hover a {
  text-decoration: none !important;
}

#mb-opdateret-nulstil {
  display: flex;
  width: 313px;
  align-items: flex-start;
  gap: 12px;
}

.task-actions {
  display: flex;
  gap: 12px;
}

