:root {
  font-family: Verdana, system-ui, -apple-system, "Segoe UI", sans-serif;


  --color-primary: #7e1431;
  --color-secondary: #38524f;
  --color-tertiary-green: #4f7149;
  --color-tertiary-darkblue: #00254a;
  --color-tertiary-lightblue: #3196d8;
  --color-tertiary-orange: #e0631a;
  --color-tertiary-red: #cf0027;
  --color-tertiary-black: #262523;
  --color-tertiary-purple: #821e75;
  --color-bg: #e6e8e8;
  --color-border: #d3d7d6;
  --color-text: #000000;
  --color-text-2: #fff;

  --color-tertiary-darkblue-low: #00254a97;

  --color-muted: #6b7472;

  --radius-sm: 3px;
  --radius-md: 4px;

  --shadow-focus: 0 0 0 2px rgba(63, 91, 88, 0.3);

  --field-padding-y: 0.5rem;
  --field-padding-x: 0.75rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1700px;
  margin: 0 auto;
}

.button-primary {
  background-color: var(--color-secondary) !important;
  flex: block;
}

.button-secondary {
  background-color: var(--color-tertiary-green) !important;
  color: var(--color-text-2) !important;
}


#listTasks {
  padding: 15px;
}

#container {
  display: flex;
  height: calc(100vh - 120px);
}

#content {
  flex: 3;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

}

#map-frame {
  flex: 4;

}

@media (max-width: 768px) {
  main {
    padding-bottom: 120px;
  }

  #content {
    flex: 0;

  }

  #container {
    flex-direction: column;
    gap: 20px;
  }

  #content,
  #map-frame {
    width: 100%;
  }
}
