:root {
  font-family: Verdana, system-ui, -apple-system, "Segoe UI", sans-serif;
  ;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #7e1431;
  --color-secondary: #38524f;
  --color-tertiary-green: #4f7149;
  --color-tertiary-darkblue: #00254A;
  --color-tertiary-lightblue: #3196D8;
  --color-tertiary-orange: #E0631A;
  --color-tertiary-red: #CF0027;
  --color-tertiary-black: #262523;
  --color-tertiary-purple: #821E75;
  --color-bg: #E6E8E8;
  --color-border: #d3d7d6;
  --color-text: #000000;
  --color-text-2: #fff;
  --color-muted: #6b7472;

  --radius-sm: 3px;
  --radius-md: 4px;

  --shadow-focus: 0 0 0 2px rgba(63, 91, 88, 0.3);

  --field-padding-y: 0.5rem;
  --field-padding-x: 0.75rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-primary {
  background-color: var(--color-secondary) !important;
}

.button-secondary {
  background-color: var(--color-tertiary-green) !important;
  color: var(--color-text-2) !important;
}





body {
  height: 100vh;
  margin: 0;
  padding: 0;

}

#listTasks {
  padding: 15px;
}



#container {
  display: flex;

}

#content {
  flex: 3;
  padding: 30px;

}

#map-frame {
  flex: 4;

}